<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Welcome to User Management System</h1>

<form method="get" action="/user">
    <button type="submit">User Profile</button>
</form>

<form method="get" action="/admin/users">
    <button type="submit">Manage Users</button>
</form>

<br/><br/>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>