<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
</head>
<body>
<form method="get" action="/">
    <button type="submit">Back to Start</button>
</form>

<br/><br/>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<br/><br/>

<h1>User Profile</h1>

<div>
    <p><strong>First Name:</strong> <span th:text="${user.firstName}"></span></p>
    <p><strong>Last Name:</strong> <span th:text="${user.lastName}"></span></p>
    <p><strong>Age:</strong> <span th:text="${user.age}"></span></p>
    <p><strong>Login:</strong> <span th:text="${user.login}"></span></p>
    <p><strong>Roles:</strong> <span th:text="${user.roles}"></span></p>
</div>
</body>
</html>